.list-wrap {
	width: 1000px;
	margin: 100px auto;
}

.list-tb {
	width: 100%;
	border: 1px solid #ccc;
	color: #333;
}

.list-tb .tb-tt {
	height: 60px;
}

.list-tb tr {
	height: 44px;
}

.list-tb th,
.list-tb td {
	border-bottom: 1px solid #ccc;
	text-align: center;
}

.list-tb .nav-item {
	float: left;
	width: 130px;
	height: 30px;
	margin: 0 15px;
	background-color: #ddd;
	line-height: 30px;
}

.list-tb .nav-item .nav-lk {
	display: block;
	height: 100%;
	color: #999;
}

.list-tb .nav-item.active {
	background-color: #123;
}

.list-tb .nav-item.active .nav-lk {
	color: #fff;
}

.list-tb .search-row {
	display: none;
}

.list-tb .search-row.show {
	display: table-row;
}

.list-tb .search-wrap {
	position: relative;
	width: 300px;
	height: 30px;
}

.list-tb .search-wrap .fa-search {
	position: absolute;
	top: 7px;
	left: 25px;
}

.list-tb .search-wrap .search-input {
	width: 100%;
	height: 100%;
	margin-left: 15px;
	border: 1px solid #ddd;
	font-size: 16px;
	text-indent: 30px;
}

.list-tb .field-tt th {
	background-color: #eee;	
}

.list-tb .tip-row.hide {
	display: none;
}

.list-tb .list-btn {
	height: 30px;
	padding: 0 15px;
	color: #fff;
	font-size: 14px;
}

.list-tb .list-btn.delete {
	background-color: red;
}

.list-tb .list-btn.regain {
	background-color: green;
}

.list-tb .page-btn-row {
	display: none;
}

.list-tb .page-btn-row.show {
	display: table-row;
}

.list-tb .page-btn-row .page-btn-list {
	height: 100%;
	text-align: center;
}

.list-tb .page-btn-row .btn-item {
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-right: 15px;
}

.list-tb .page-btn-row .btn-item .page-btn {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: #ddd;
	color: #123;
}

.list-tb .page-btn-row .btn-item.cur .page-btn {
	background-color: #123;
	color: #fff;
}

.list-tb tbody .course-cell {
	position: relative;
	padding-left: 15px;
	text-align: left;
}

.list-tb tbody .course-name-input {
	display: none;
	position: absolute;
	top: 6px;
	left: 15px;
	width: 100%;
	height: 30px;
	border: 1px solid #ddd;
	font-size: 16px;
	text-indent: 15px;
}

.list-tb tbody .course-name-input.show {
	display: inline-block;
}